/* START NORMALIZE CSS HERE */
html, body
{
  box-sizing: border-box;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  overflow: auto;
  height: 100% !important;
  width: 100% !important;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
*, body, button, input, textarea, select {
    text-rendering: optimizeLegibility;
    font-size: 100%; 
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}
/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* END NORMALIZE CSS HERE */


html, body {    
    background-color: white;
    color: black;
    margin: 0 auto;    
}

header {
    width: 95%;
    margin-bottom: 2em;
    display: block;
    margin: 0 auto;
}

    header h1 {
        font-size: xx-large;
    }

/*All of the tab UI is done here. */
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
ul.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    /*height: 40px;*/
}

ul.tabs li {
    color: inherit;
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px black dotted;
    border-bottom: none;
    text-align: center;
    align-content: center;
}

ul.tabs li.current {
    background: #ddd;
    border: 1px black solid;
    border-bottom: none;
}



div.current {
    height: calc(100% - 40px);
}

ul.tabs li.title {
    cursor: auto;
    text-align: right;
    margin-right: 1em;
    /*width: 19%;*/
}

.tab-content {
    display: none;
    background: #ddd;
    padding: .25em;
    padding-top: .5em;
    width: 100%;    
    border-top: 1px solid black;
    overflow: auto;
    overflow-x: visible;
    /*height: 100%;*/
    /*height: 90%;
    overflow: scroll;*/
}

.tab-content.current {
    display: inherit;
}
/* end tab UI CSS */

/*========== OVERALL UNIT STATUS CSS ==========*/


li img {
    margin: 0 auto;
    margin-left: .5em;
    width: 20px;
    height: 100%;
}
li img.imghide {
    display: none;
}
.Cancelled, .Cleared, .Available {
    background-color: white;
}


#historyfilters.show
{
  display: flex;
}

#historyfilters.hide
{
  display: none;
}


#UnitStatusHover .Available {
    background-color: darkgreen;
    color: white;
}



.Dispatched {
    background-color: mediumpurple;
}

.Transport {
    background-color: yellow;
}

.Hospital {
    background-color: orange;
}

.En-Route {
    background-color: lightgreen;
}

.Arrived {
    background-color: cyan;
}
.Vehicle-Swap{
    background-color: navy;
    color: white;
}
.Broke {
    /*background-color: #F0C5AA;*/
    background-color: coral;
}
.Out-of-Service {
    background-color: red;
}
.Available-Out-of-District{
    background-color: fuchsia;
    /*background-color: navy;
    color: white;*/    
}
#LEGEND {
    display: none;
}
#LEGEND li {
    /*float: left;*/
    width: 100%;
    color: black;
    text-align: left !important;
    height: 2em;
    margin: 0 auto;
    vertical-align: middle;
    display: block;
    cursor: auto !important;
}
#legendlegend legend {
    cursor: pointer;
}
#LEGEND li span.legendcolor {
    display:inline-block;
    width: 2em;
    height: 100%;
    border: 1px solid black;
}
#LEGEND li span.legendtext {
    display: inline-block;
    height: 100%;
    text-align: left;
    margin-left: 1em;
    font-size: medium;
    font-weight: normal;
}
#LEGEND li img {
    margin-left: .75em;
    margin-right: .5em;
}

#UnitStatusHover {
    width: 350px;
    display: none;
    position: fixed;
    background-color: white;
}

    #UnitStatusHover ol, ol.mapUnit {
        width: 100%;
        font-size: inherit;
        border: none;
        list-style: none;
    }

        #UnitStatusHover ol li, ol.mapUnit li {
            border: 1px solid black;
            padding-left: .5em;
            list-style: none;
            list-style-type: none;
            /*list-style-image: url(data:0);*/
        }

#historyfilters
{
  width: 100%;  
}

.HistoryFilterContainer
{
  margin-top: .5em;
  display: flex;
  flex-wrap: wrap;  
  justify-content: start;
  align-content: center;
}

  .HistoryFilterContainer.Outer
  {
    flex-direction: column;
  }

  .HistoryFilterContainer.Inner
  {
    flex-direction: row;
  }

.HistoryFilterContainer.Short
{

  width: 40%;
}
  .HistoryFilterContainer.Long
  {
    width: 60%;
  }
  .HistoryFilterContainer.Full
  {
    width: 100%;
  }

.slider
{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/*  .slider::-webkit-slider-thumb
  {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .slider::-moz-range-thumb
  {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }*/


#unit
{
  overflow: auto;
}

    #unit ol, #trackingGroups ol {
        clear: both;
    }

    #unit li, .CenterAge li, .unitlist li, #trackingGroups li {
        float: left;
        margin: 0;
        padding: 0;
        border: solid 1px black;
        min-width: 6em;
        height: 20px;
        text-align: center;
        border-collapse: collapse;
        /*color: inherit;*/
        cursor: pointer;
    }



fieldset {
    margin: 0 0 .25em .25em;
    padding: 0;
    float: left;
    font-size: 1em;
    border: 1px solid gray;
    border-left: none;
    background: #ffffff;
    border-collapse: collapse;
}

    fieldset legend {
        margin-left: -1px;
        font-weight: bold;
        font-size: .9em;
        color: black;
        background-color: lightyellow;
        padding: 0 2em 0 2em;
        border: 1px solid black;
        border-bottom: none;
    }

#unit fieldset ol li {
    margin-left: -1px;
    margin-top: -1px;
}
/*=================END UNIT CSS =================*/

/*=================CALL CSS STARTS HERE=================*/
.Call, .advisory, #trackingGroups {
    width: 100%;
    float: left;
    display: block;    
    background-color: #ddd;
    padding: 0;
    margin: 0 auto;
    margin-bottom: .5em;
}

.Call ol {
    padding: 0;
    margin: 0 auto;
    margin-bottom: .5em;
}
.CADData li, .calldetail li, .advisory li {
    float: left;
    padding-right: .5em;
    padding-left: .5em;
    clear: none;
    border: 1px darkgray dotted;
    vertical-align: middle;
}


  .CADData li span, .calldetail li span, .CADData li label, .calldetail li label, .advisory li span, .advisory li label
  {
    width: 100%;
    text-align: center;
    margin-right: .25em;
    vertical-align: middle;
  }
.detailheader{
    padding-left: 1em;

}
li label {
    font-size: .9em;
}

fieldset li span {
    font-size: 1em;
    font-weight: normal;
}

li span {
    font-size: 1.2em;
    font-weight: bold;
}

.unitlist {
    clear: left;
    padding: .25em;
    margin: 0;
    float: left;
    margin-bottom: .5em;
}

.notes, li.historynotes {
    clear: left;
    width: 100%;
    text-align: left;
    padding: .5em;
    font-size: medium;
}
    /*.notes a, li.historynotes a {
        text-decoration: none;
        color: black;
    }
*/
ol.notes, ol.historynotes
{
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  display: block;
  cursor: pointer;
}

  ol.notes.short
  {
    display: block;
    /*flex-direction: row;
    flex-wrap: wrap;    
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    list-style-type: none;
    overflow-wrap: break-word;
    word-wrap: break-word;*/
/*    list-style-type: disc;
    list-style-image: url('../Content/images/LineSep.png');
    list-style-position: outside;*/
  }



  ol.notes.long, ol.historynotes.long
  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

    ol.notes.long li span.userid, ol.historynotes.long li span.userid
    {
      flex-basis: 15%;
    }
    ol.notes.long li span.timestamp, ol.historynotes.long li span.timestamp
    {
      flex-basis: 20%;
    }
    ol.notes.long li span.text, ol.historynotes.long li span.text
    {
      flex-basis: 65%;
      word-break: break-word;
      word-wrap: break-word;
    }


  ol.notes.short li, ol.historynotes.short li
  {
    /*margin-left: 1em;
  margin-right: 1em;*/
    display: inline;
  }

  ol.notes.long li, ol.historynotes.long li
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  ol.notes.short li:first-child::before, ol.historynotes.short li:first-child::before
  {
    margin-left: 0;
    content: '';
    display: none;
  }


  ol.notes.short li::before, ol.historynotes.short li::before
  {
    content: '';
    display: inline-block;
    visibility: visible;
    width: .5em;
    height: .5em;
    vertical-align: middle;
    background-color: lightblue;
    border: 1px black solid;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 5px;
  }

  ol.notes li span, ol.historynotes li span
  {
    font-size: 1em;
    font-weight: normal;
  }

  ol.notes.short li span.userid, ol.historynotes.short li span.userid
  {
    display: none;
  }

  ol.notes.short li span.timestamp, ol.historynotes.short li span.timestamp
  {
    display: none;
  }

/*  ol.notes.long li span.userid
  {
    display: inline;
    width: 20%;
  }

  ol.notes.long li span.timestamp
  {
    display: inline;
    width: 30%;
  }
  ol.notes.long li span.note
  {
    display: inline;
    width: 50%;
  }*/


.dispatch {
    display: none;
    font-size: inherit;
}

.linesep {
    display: inline-block;
    visibility: visible;
    width: .5em;
    height: .5em;
    vertical-align: middle;
    background-color: lightblue;
    border: 1px black solid;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 5px;
}

    .linesep:nth-last-child(1), .linesep:nth-last-child(2) {
        display: none;
    }

.CADDatabuttons {
    clear: both;
    float: left;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: inherit;
    margin-bottom: .5em;
}
.CADDatabuttons li {
    width: 32%;
    text-align: center;
    padding-right: .5em;
    font-weight: normal;
    border: solid black 1px;
    margin-top: .25em;
    border-radius: 5px;
    color: black;
    font-size: 1.2em;
    float: left;
    margin-right: 1%;
    cursor: pointer;
}

.CADDatabuttons li a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
}

.CADDatabuttons .historybutton, .historybyaddressbase, #opsGroups, .Ops {
    background-color: lightsalmon;
}
ol.CADDatabuttons li.historybutton div.historyhelper a
{
  display: inline !important;
  text-align: inherit;
  width: auto;
  margin: 0 0 0 0;
}
  .CADDatabuttons .historybutton div.historyhelper
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
.recentvisit
{
  height: 100%;  
  object-fit: contain;
  margin: 0 0 0 1em;
}

.CADDatabuttons .detailbutton, .calldetailbase, .calldetailbase .detailheader, #eventGroups, .Events {
    background-color: lightgoldenrodyellow;
}

#active .CADData .age, #historical .CADData .calltime, .CADData .historyage {
    display: block;
    visibility: visible;
}

#active .CADData .calltime, #historical .CADData .age {
    display: none;
    visibility: hidden;
}

/*#historical .CADDatabuttons .historybutton {
    /*display: none;
    visibility: hidden;
}*/

.CADDatabuttons .mapbutton {
    background-color: lightblue;
}

.CADDatabuttons li:hover, #trackingbuttons span:hover {
    background-color: green;
    font-weight: bold;
    color: #ffffff;
}

.calldetailbase, .calldetailbase .calldetail, .historybyaddressbase, .historybyaddressbase .CADData{
    clear: left;
    overflow: auto;
    width: 100%;
}

.calldetailbase, .historybyaddressbase {
    border: 1px solid black;
}

li.historyrow 
{
  min-height: 55px;
}

.Call:nth-of-type(even), .calldetailbase li.detailrow:nth-of-type(even), .historybyaddressbase li.historyrow:nth-of-type(even), div#advisory ol.advisory:nth-of-type(odd) {
    background-color: #eee;
}

    .calldetailbase .userid, .calldetailbase .desc, .calldetailbase .timestamp {
        width: 33%;
    }
    .calldetailbase .comments, .calldetailbase .usertyped{
        width: 50%;
    }
/*.historynotes {
    /*overflow: auto;
    width: 100%;
}*/
/* Tracking Groups CSS */
#startTracking, #chooseGroups, #chooseUserID, #userid, #trackingMessages, #beta{
    margin-top: 1em;
    width: 100%;
}
#trackingStart, #beta h2, #chooseGroups h2, #chooseUserID h2, #userid span {    
    width: 100%;
    height: 2em;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
}
#beta {
    margin-bottom: 1em;
}
#beta h2 {
    background-color: orangered;
    color: white;

}
#chooseGroups h2 {
    border-bottom: none;
}
#trackingInfo {    
    display: block;
    width: 100%;
}
#userid, #trackingStatus, #trackingMessages {
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;    
    justify-content: center;
    align-items: center;
    width: 100%;
}
#chooseGroups h2, #trackingMessage {
    cursor: auto;
}
#trackingEventGroups, #trackingOpsGroups {
    width: 50%;
    display: block;
    float: left;
    border: 1px solid black;
}
#trackingOpsGroups {
    background-color: #eee;
}
#trackingEventGroups {
    border-left: none;
    background-color: inherit;
}
#EventGroupsList, #OpsGroupsList{
    width: 100%;
    background-color: inherit;
}
#trackingOpsGroups, #trackingEventGroups {
    margin: 0;
    padding: 0;
}
#trackingOpsGroups span, #trackingEventGroups span{
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
}
#trackingOpsGroups ol, #trackingEventGroups ol {    
    padding: 1em 3em 1em 3em;
    display: flex;
    justify-content: center;
    align-items: center;    
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;    
    -ms-flex: 1 0 6em;
    flex: 1 0 6em;
}
#trackingStatus div {
    border: 1px solid black;
}
#OpsGroupsList li, #EventGroupsList li, #trackingStatus span, #trackingStatus label {
    height: 2em;
    min-width: 6em;
    padding: 0;
    margin: .50em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: none;
    clear: both;
    border: 1px solid black;    
 }
#trackingInfo label, #trackingStatus label {
    background-color: #eee;
}
#OpsGroupsList li:hover, #EventGroupsList li:hover {
    margin: -.5em;
    font-size: 150%;
    z-index: 9999;
    background-color: green;
    color: white;
}
#trackingStatus span {
    min-width: 10em;
}
#trackingStatus label {
    width: 12em;
}
#chooseGroups, #chooseUserID {
    display: none;
    visibility: hidden;
}
#trackingstatustext, #trackingstatustextspan #userid label {
    margin-right: 1em;
}
#userid input {
    margin: 1em;
    padding-left: 1em;
}
#userid span { 
    margin-left: 1em;
    width: 6em;
    display: inline-flex;
}
.clickable {
    background-color: green;
    color: white;
    cursor: pointer;
}
.unclickable {
    background-color: darkblue;
    color: white;
}
/*#trackingStatus span, #trackingStatus label {
    display: block;
}*/
/*================= BEGIN ADVISORY CSS=================*/
#advisory, #active, #historical, #tracking {
    /*, #mapWindow*/
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    font-size: smaller;
    padding: 0;
}
#advisory ol.advisory {
    margin-bottom: .5em;
}
.advisorytitle, .advisorylocation {
    width: 50%;
    margin: 0;
}
.advisorynotes {
    width: 100%;
}

/*#historical {
    height: 600px;
    overflow: auto;
    overflow-y: auto;
}*/
/*================= END ADVISORY CSS=================*/
/* ========== Begin media queries ========== */
@media all and (min-width: 1000px) {
    html, body {
        height: 100% !important;
    }
    .tab-content{
        height: calc(100% - 40px);
        width: 45%;
        float: left;
        margin: 0 auto;
        padding: 0;
    }


  #gridgutter
  {
    display: block;
  }
/*    .tab-content > div {
        height: calc(100% - 40px);
    }
*/

    .maptab{
        float: right;
        display: inherit;
        background: #ddd;
        border: 1px black solid;
        border-bottom: none;        
        width: 55%;
    }
    #mapWindow {
        width: 54%;
        margin: 0 auto;
        padding: 0;
        border: none;
    }

    #map {        
        margin: 0 auto;
        padding: 0;
    }

    .CADDatabuttons {
        float: left;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 2em;
        display: block;
        margin-bottom: .5em;
    }

        .CADDatabuttons li a {
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            /*padding-top: .5em;
            padding-bottom: .5em;*/
            vertical-align: middle;
            font-size: larger;
        }

        .CADDatabuttons li {
            float: left;
            margin: 0 auto;
            width: 33.3%;
            min-width: 0;
            border-radius: 0;
            padding: 0;
            height: 100%;
        }

        .CADDatabuttons .detailbutton {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-right: none;
        }

        .CADDatabuttons .mapbutton {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            border-left: none;
        }

    /*#historical .CADDatabuttons li {
        width: 50%;
    }

    #historical .CADDatabuttons .mapbutton {
        border-left: 1px solid black;
    }*/
    .CADData {
        float: left;
        clear: none;
    }
    .CADData li, .CADData li label, .CADData li span{
        min-width: 25%;
    }
    .CADData, .notes, li.historynotes {
        font-size: 1.2em;
        padding-left: 1em;
    }

        .CADData li, .calldetail li {
            height: auto;
        }
                
        .CADData .nature, .CADData .street, .CADData .crossstreet {
            min-width: 50%;
        }
        .CADData .district 
        {
          min-width: 15%;
        }
        .CADData .usng
        {
          min-width: 50%;
        }
        .CADData .business 
        {
          min-width: 100%;
        }
        /*.CADData .historynature,*/
    .unitlist {
        font-size: larger;
    }

    /*#UnitStatusHover {
        width: 25%;
    }*/
  .calldetailbase .userid, .calldetailbase .desc, .calldetailbase .timestamp, .calldetailbase .unit
  {
    width: 50%;
  }
    .calldetailbase .comments, .calldetailbase .usertyped  {
        width: 100%;
    }
/*  .HistoryFilterContainer.Short.Outer, .HistoryFilterContainer.Short.Inner, .HistoryFilterContainer.Long.Inner, .HistoryFilterContainer.Long.Outer
  {
    flex-direction: row;
    width: 100%;
  }*/

}
@media all and (min-width: 361px) and (max-width: 640px) {    
    html, body, .tab-content, .tab-content > div {
        height: auto;
    }
  #gridcontainer
  {
    display: block;
  }

  #gridgutter
  {
    display: none;
  }
    .Call {
        font-size: smaller;
    }
    ul.tabs { /* Nav Bar Tabs */
        overflow: auto;
        font-size: larger;

    }
        ul.tabs li {
            /*float: left;
            width: 50%;*/
            margin: 0 auto;
            /*text-align: center;*/
            cursor: default;
            flex-basis: 50%;
        }
        ul.tabs li:last-child {
            /*width: 100%;*/
            flex-grow: 2;
        }
    /* End Nav Bar Tabs */
    .CADDatabuttons {
        float: left;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 2em;
        display: block;
        margin-bottom: .5em;
    }

        .CADDatabuttons li a {
            display: block;
            text-align: center;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            /*padding-top: .5em;
            padding-bottom: .5em;*/
            vertical-align: middle;
            font-size: larger;
        }

        .CADDatabuttons li {
            float: left;
            margin: 0 auto;
            width: 33.3%;
            min-width: 0;
            border-radius: 0;
            padding: 0;
            height: 100%;
        }

        .CADDatabuttons .detailbutton {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-right: none;
        }

        .CADDatabuttons .mapbutton {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            border-left: none;
        }

    /*#historical .CADDatabuttons li {
        width: 50%;
    }

    #historical .CADDatabuttons .mapbutton {
        border-left: 1px solid black;
    }*/
    .CADData {
        float: left;
        clear: none;
    }
    .CADData li, .CADData li label, .CADData li span{
        min-width: 25%;
    }
    .CADData, .notes, li.historynotes {
        font-size: 1.2em;
        padding-left: 1em;
    }

        .CADData li, .calldetail li {
            height: auto;
        }

        .CADData .nature, .CADData .street, .CADData .usng {
            width: 100%;
        }

    .unitlist {
        font-size: larger;
    }

  #UnitStatusHover
  {
    width: 50%;
  }
    .calldetailbase .userid, .calldetailbase .desc{
        width: 50%;
    }
    .calldetailbase .comments, .calldetailbase .usertyped, .calldetailbase .timestamp {
        width: 100%;
    }
  .HistoryFilterContainer.Short.Outer, .HistoryFilterContainer.Short.Inner, .HistoryFilterContainer.Long.Inner, .HistoryFilterContainer.Long.Outer
  {
    flex-direction: row;
    width: 100%;
  }
}
@media all and (max-width: 360px)
{
  html, body, .tab-content, .tab-content > div
  {
    height: auto;
  }

  .Call
  {
    font-size: smaller;
  }
  #gridcontainer
  {
    display: block;
  }
  #gridgutter
  {
    display: none;
  }
  /* Nav Bar Tabs */
  ul.tabs
  { 
    overflow: auto;
    font-size: larger;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

    ul.tabs li
    {
      /*float: left;
        width: 50%;*/
      /*margin: 0 auto;*/
      text-align: center;
      cursor: default;
      /*min-height: 4em;*/
      /*vertical-align: middle;*/
    }

      ul.tabs li:last-child
      {
        /*width: 100%;*/
        /*min-height: 0;*/
      }
  /* End Nav Bar Tabs */
  .CADDatabuttons, #trackingbuttons
  {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 3em;
    display: block;
  }

    .CADDatabuttons li a
    {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-top: .5em;
      padding-bottom: .5em;
      vertical-align: middle;
      font-size: larger;
    }

    .CADDatabuttons li, #trackingbuttons span
    {
      float: left;
      margin: 0 auto;
      width: 33.3%;
      min-width: 0;
      border-radius: 0;
      padding: 0;
      height: 100%;
    }

    .CADDatabuttons .detailbutton
    {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      border-right: none;
    }

    .CADDatabuttons .mapbutton
    {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-left: none;
    }

  /*#historical .CADDatabuttons li {
        width: 50%;
    }

    #historical .CADDatabuttons .mapbutton {
        border-left: 1px solid black;
    }*/
  .CADData
  {
    float: left;
    clear: none;
  }

    .CADData li, .CADData li label, .CADData li span
    {
      min-width: 25%;
    }

  .CADData, .notes, li.historynotes
  {
    font-size: 1.2em;
    padding-left: 1em;
  }

    .CADData li, .calldetail li
    {
      height: auto;
    }

    .CADData .nature, .CADData .street, .CADData .historynature, .CADData .usng
    {
      width: 100%;
    }

  .unitlist
  {
    font-size: larger;
  }

  #UnitStatusHover
  {
    width: 50%;
  }

  .calldetailbase .userid, .calldetailbase .desc
  {
    width: 50%;
  }

  .calldetailbase .comments, .calldetailbase .usertyped, .calldetailbase .timestamp
  {
    width: 100%;
  }

  .HistoryFilterContainer.Short.Outer, .HistoryFilterContainer.Short.Inner, .HistoryFilterContainer.Long.Inner, .HistoryFilterContainer.Long.Outer
  {
    flex-direction: row;
    width: 100%;
  }
}